body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #87cefa;
  font-family: cursive;
}

#board{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 16px;
  position: relative;
}

.field{
  background-color: white;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 48px;
  color:#0C9CF4;
}

.title{
  color:white;
  font-size: 96px;
  margin-bottom: 48px;
  font-family: 'Rubik Vinyl', cursive;
  text-align: center;
}

.invisible{
  display: none !important;
}

#config{
  display: flex;
  flex-direction: column;
}

.select{
  color:white;
  font-size: 24px;
  margin-bottom: 4px;
}

.option{
  margin-top: 12px;
  background-color: white;
  border-radius: 8px;
  font-family: cursive;
  color:#0C9CF4;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  transition: 500ms;
}
.option:hover{
  background-color: #0C9CF4;
  color: white;
}

#result{
  margin-bottom: 48px;
  border-radius: 8px;
  padding: 20px 20px;
  font-size: 20px;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionButton{
  border: 3px #0C9CF4 solid;
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
  transition: 500ms;
  cursor: pointer;
  margin-right: 16px;
}
.actionButton:hover{
  background-color: #0C9CF4;
}
.actionButton:hover > svg{
  stroke: white;
}

#state{
  color: #0C9CF4;
}

#canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}